In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("SparkPractice").getOrCreate()

data = [
    ("Alice", "Electronics", 1200),
    ("Bob", "Books", 300),
    ("Charlie", "Electronics", 800),
    ("David", "Clothing", 450),
    ("Eva", "Books", 700),
    ("Frank", "Clothing", 600),
    ("Grace", "Electronics", 1500),
]

columns = ["Customer", "Category", "Amount"]

df = spark.createDataFrame(data, columns)
df.show()

# Register for SQL use
df.createOrReplaceTempView("sales")

25/05/02 04:18:52 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+--------+-----------+------+
|Customer|   Category|Amount|
+--------+-----------+------+
|   Alice|Electronics|  1200|
|     Bob|      Books|   300|
| Charlie|Electronics|   800|
|   David|   Clothing|   450|
|     Eva|      Books|   700|
|   Frank|   Clothing|   600|
|   Grace|Electronics|  1500|
+--------+-----------+------+

## Count total number of rows

In [5]:
df.count()

7

In [6]:
spark.sql("SELECT COUNT(*) FROM sales").show()

+--------+
|count(1)|
+--------+
|       7|
+--------+

## Select and filter rows

In [9]:
df.select("Customer", "Category", "Amount").filter((col("Category") == "Electronics") & (col("Amount") > 1000)).show()

+--------+-----------+------+
|Customer|   Category|Amount|
+--------+-----------+------+
|   Alice|Electronics|  1200|
|   Grace|Electronics|  1500|
+--------+-----------+------+

In [10]:
spark.sql("""
SELECT Customer, Category, Amount
FROM sales
WHERE Category = 'Electronics' AND Amount > 1000
""").show()

+--------+-----------+------+
|Customer|   Category|Amount|
+--------+-----------+------+
|   Alice|Electronics|  1200|
|   Grace|Electronics|  1500|
+--------+-----------+------+

## Group By Category and Count Customers

In [15]:
df.groupBy("Category").agg(count("Customer").alias("CustomerCount")).show()

+-----------+-------------+
|   Category|CustomerCount|
+-----------+-------------+
|      Books|            2|
|   Clothing|            2|
|Electronics|            3|
+-----------+-------------+

In [16]:
spark.sql("""
SELECT Category, COUNT(Customer) AS CustomerCount
FROM sales
GROUP BY Category
""").show()

+-----------+-------------+
|   Category|CustomerCount|
+-----------+-------------+
|      Books|            2|
|Electronics|            3|
|   Clothing|            2|
+-----------+-------------+

In [17]:
df.groupBy("Category").agg(sum("Amount").alias("TotalRevenue")).show()

+-----------+------------+
|   Category|TotalRevenue|
+-----------+------------+
|      Books|        1000|
|Electronics|        3500|
|   Clothing|        1050|
+-----------+------------+

In [18]:
spark.sql("""
SELECT Category, SUM(Amount) AS TotalRevenue
FROM sales
GROUP BY Category
""").show()

+-----------+------------+
|   Category|TotalRevenue|
+-----------+------------+
|      Books|        1000|
|Electronics|        3500|
|   Clothing|        1050|
+-----------+------------+

Q1. How many total rows are there in the sales DataFrame?

Q2. Select only the Customer and Amount for those who spent more than 700.

Q3. Show all sales in the Books category where the amount is between 400 and 800.

Q4. For each Category, how many customers made purchases?